body{
    border: 1px solid red;
    margin: 0;
    /* font-family: 'Lora', serif; */
    font-family: 'Inconsolata', monospace;
    /* font-family: 'Inter', sans-serif; */
}

* {
    box-sizing: border-box;
}

p,h1,h2,h3,h4 {
    margin: 0;
}

.app-container {
    margin: 24px 24px 85px 24px;
    max-width: 737px;
    border: 1px solid red;
}
.app-header{
    display: flex;
}

.logo {
    margin-right: auto;
    width: 28px;
    height: 32px;
}

.app-font-slider {
    display: flex;
    align-items: center;
    gap: 16px;
}

.moon-icon{
    height: 20px;
    width: 20px;
    color: #A445ED;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}
  
  /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2D2D2D;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #A445ED;
}

input:focus + .slider {
    box-shadow: 0 0 1px #A445ED;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 20px;
}

.slider.round:before {
    border-radius: 50%;
}

select {
    height: 24px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding-right: 32px;
    background-image: url('./assets/images/icon-arrow-down.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 3%) center;
    background-size: 15px;
    border: none;
    text-align: right;
    
}

select:focus{
    outline: none;
}

select option,
select {
    font-family: inherit;
    font-weight: 700;
    color: #2D2D2D;
    cursor: pointer;
    font-size: 14px;
}

select > option {
    padding: 16px;
    margin-right: 10px;
}

option:checked{
    color:#A445ED;
}

.search-bar-container{
    margin: 24px 0;
    position: relative;
}

.search-bar{
    width: 100%;
    padding: 16px 24px;
    background-color: #F4F4F4;
    border: none;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 700;
    color: #2D2D2D;
    font-family: inherit;
}

.search-bar:focus{
    outline: none;
    border: 1px solid #A445ED;
    caret-color: #A445ED;
}

.search-icon {
    height: 16px;
    width: 16px;
    position: absolute;
    top: 16px;
    right: 24px;
}

.keyword-container{
    display: flex;
    align-items: center;
}

.word {
    margin-right: auto;
}

.word > h1 {
    font-size: 32px;
    font-weight: 700;
    color: #2D2D2D;
}

.word > p{
    margin-top: 8px;
    font-size: 18px;
    font-weight: 400;
    color: #A445ED;
}

.play-icon {
    width: 48px;
    height: 48px;
}

.noun, .verb {
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
    color: #2D2D2D;
    margin-block: 32px;
    position: relative;
}

.noun::after,
.verb::after {
    content: "";
    height: 1px;
    width: 85%;
    background: #e9e9e9;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;

}

.meaning {
    color: #757575;
    margin-bottom: 16px;
}

.list {
    color: #2D2D2D;
    font-size: 15px;
    list-style: none;
}

.list li::before {
    content: "\2022";  
    color: #A445ED; 
    font-weight: bold; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em;
}

.list > li {
    padding-bottom: 13px;
    line-height: 24px;
}

.synonym {
    color: #757575;
    margin-right: 24px;
}

.synonym-description {
    font-weight: 700;
    color: #A445ED;
}

.word-example {
    color: #757575;
    font-size: 15px; 
}

.word-example,
.list {
    padding-left: 14px;
}

.verb-container {
    padding-bottom: 32px;
    border-bottom: 1px solid #e9e9e9;
}

.source-container {
    padding-top: 24px;
}

.source, .source-link {
    font-size: 14px;
}

.source{
    color: #757575;
    text-decoration: underline;
    margin-bottom: 8px;
    text-underline-position: under;
}

.source-link {
    color: #2D2D2D;
    text-decoration: underline;
    text-underline-position: under;
}

.new-window {
    margin-left: 8px;
}

.hr {
    height: 100%;
    width: 1px;
    background-color: #e9e9e9;
    border: none;
}


@media (min-width: 768px){
  .app-container {
    margin: 60px 40px 120px 40px;
  }

  .logo {
    height: 36.5px;
    width: 32px;
  }

  .search-bar-container{
    margin: 48px 0 ;
  }

  .search-bar {
    font-size: 20px;
  }

  select,
  select option {
    font-size: 18px;
  }

  .word > h1 {
    font-size: 64px;
  }

  .word > p {
    font-size: 24px;
    margin-top: 11px;
  }

  .play-icon {
    width: 75px;
    height: 75px;
  }

  .noun, .verb {
    font-size: 24px;
    margin-block: 40px;
  }

  .meaning {
    margin-bottom: 27px;
  }

  .list {
    font-size: 18px;
  }

  .list li {
    margin-left: 22px;
  }

  .list li::before {
    width: 25px; 
    margin-left: -25px;
    
  }

  .word-example {
    padding-left: 35px;
  }

  .synonym,
  .synonym-description,
  .meaning {
    font-size: 20px;
  }

  .source-container {
    display: flex;
  }

  .source-link {
    margin-left: 25px;
  }

  .word-example {
    font-size: 18px;
  }

}

@media (min-width: 817px) {
  .app-container {
    margin: 60px auto 120px auto;
  }
}
